version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: fastteat_postgres
    restart: unless-stopped

    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

    ports:
      - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data   # persiste datos entre reinicios
      # opcional: montar un archivo sql inicial
      # - ./init.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  pgdata:
